<%= turbo_frame_tag "main" do %>
  <section>
    <h2>Create time entries</h2>
    <%= form_with(model: @tebc, method: :post, url: time_entries_path, data: { controller: "form" }) do |f| %>
      <fieldset class="grid">
        <label>
          From
          <%= f.date_field :start_date %>
        </label>
        <label>
          Until
          <%= f.date_field :end_date %>
      </fieldset>
      <fieldset class="grid">
        <label>
          Start Time
          <%= f.time_field :start_time %>
        </label>
        <label>
          End Time
          <%= f.time_field :end_time %>
        </label>
      </fieldset>
      <fieldset class="grid">
        <label>
          Project
          <%= f.select :project_id, @projects[:projects], include_blank: "Select project" %>
        </label>
        <label>
          Task
          <%= f.select :task_id, @projects[:tasks], include_blank: "Select task" %>
        </label>
      </fieldset>
      <%= f.submit "Create" %>
    <% end %>

    <% @tebc.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </section>
<% end %>
