<!DOCTYPE html>
<html>
  <head>
    <title>HarvestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="color-scheme" content="light dark" />
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "https://cache.harvestapp.com/favicon.ico" %>
  </head>

  <body>
    <header class="container">
      <h1>Harvest App</h1>
      <% if @current_user.present? %>
        <p>Hi <%= @current_user[:first_name] %> <%= @current_user[:last_name] %>! <%= link_to "(sign out)" , sign_out_path %></p>
      <% end %>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
